/*FOOTER*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-color;
    &.social-list__link {
    color: $white;
    transition: background-color $transition-effect;}
@include mq(mob-only){
    text-align: center;}

}

.footer__list {
@include mq(tab-only){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
@include mq(desk){
    display: flex;
    gap: 70px;
    align-items: baseline;}
}

.footer__item{
@include mq(desk){
    &:last-child {
    margin-left: auto;}}
}

.footer__logo {
    margin-bottom: 20px;
    display: block;
@include mq(tab-only){
    padding: 0;
    margin-left: 44px;}
}

.adress {
    color: $address-color;
    font-style: inherit;
@include mq (tab-only){
    margin-right: 165px;
    margin-bottom: 60px;
}
}

.street {
    font-style: normal;
    color: $white;

    &:hover, &:focus{
    color: $accent-color;}
}

.footer-contacts{
@include mq(mob-only){
    margin-bottom: 60px;}
@include mq(tab-only){
    text-align: center;
}
}

.footer-contacts__item{
    &:not(:last-child){margin-bottom: 9px;}
}

.footer-contacts__link {
    transition: color $transition-effect;

    &:hover, &:focus{
    color: $accent-color;}
}

.subscription__follow {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $white;
@include mq(mob-only){
    margin-top: 60px;}
@include mq(noDesk){
    text-align: center;}
}

.subscribe-form {
    display: block;
    align-items: center;
@include mq(desk){
    display: flex;}
}

.subscribe-form__input {
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: $address-color;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@include mq(mob){
    width: 450px;
    margin-bottom: 20px;}

@include mq(tab-only){
    width: 450px;}

@include mq(desk){
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;}

&:hover, &:focus{
    border-color: $accent-color;}
}

.subscribe-form__icon {
    display: block;
    margin-left: 10px;
}