/*HEADER*/

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid $border;
@include mq(mob-only){
    position: relative;
}
}

.header__container{
@include mq(tab){
    display: flex;
    align-items: center;}
}